:root {
  --white: #fff;
  --color-primario: #c00000;
  --color-secundario: #d3ccc7;
  --color-terciario: #efeee8;
  --negro: #000000;

  --espaciado-base: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: var(--negro);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: var(--color-primario);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5em;
  min-height: 100vh;
  justify-content: center;
}

.header__container {
  position: fixed;
  top: 0;
  height: 6em;
  width: 100vw;
  background-color: #000;
  border-bottom: 1px solid #222;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.header__logo-container {
  font-size: 2em;
}

.header__logo-text {
  color: var(--white);
  font-weight: 700;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.header__list-item a {
  color: var(--white);
  font-weight: 500;
  align-self: center;
  transition: color 0.3s ease;
}

.header__list-item a:hover {
  color: var(--color-primario);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 6em);
  margin-top: 6em;
}

.home__main {
  display: grid;
  gap: 4em;
}

.home__title {
  max-width: 50%;
  font-size: 3rem;
}

.home__contact {
  display: flex;
  align-items: center;
  gap: 2em;
}

.home__btn {
  font-weight: 600;
  border: 1px solid transparent;
  background-color: var(--color-primario);
  border-radius: 5px;
  padding: 15px 25px;
  color: var(--negro);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.home__btn:hover {
  background-color: transparent;
  color: var(--color-primario);
  border-color: var(--color-primario);
}

.home__phrase {
  color: #d4d4d4;
  margin-top: 5em;
  text-align: center;
}

.bio__container {
  display: flex;
  flex-direction: column;
  gap: 5em;
  justify-content: center;
}

.bio__title {
  padding-top: 2.5em;
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-primario);
}

.bio__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 0.3125rem;
  padding: 2em 4em;
  gap: 5em;
}

.bio__desc p {
  line-height: 2;
}

.bio__desc-img {
  border-radius: 9999px;
}

.bio__desc-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2em;
}

.bio__desc-text p {
  font-size: 1.2em;
}

.info__container {
  gap: 0;
  padding-top: 2em;
}

.info__title {
  text-align: center;
  font-size: 2.5rem;
  padding: 1.5em 0;
}

.info__desc {
  display: flex;
  max-height: 300px;
}

.info__desc img {
  width: 300px;
}

.info__desc-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex: 1;
}

.info__desc-subtitle {
  font-size: 2em;
}

.info__desc-p {
  line-height: 2;
  padding: 0 1em;
}

img {
  max-height: 100%;
  flex: 1;
  object-fit: cover;
}

.info__desc:nth-child(even) {
  flex-direction: row-reverse;
}

.course__container {
  padding-top: 7em;
}

.course__subtitle {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.course__title {
  font-size: 2.5rem;
  color: var(--color-primario);
}

.course__disclaimer {
  font-size: 1rem;
  color: #d4d4d4;
}

.course__box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
  padding-top: 5em;
}

.course__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20em;
  height: 25em;
  padding: 3em 1.5em;
  hyphens: auto;
  gap: 2em;
  border-radius: 0.3125rem;
  border: 5px solid var(--color-primario);
}

.course__box:nth-child(even) {
  background-color: var(--color-primario);
  color: var(--negro);
}

.course__box:nth-child(even) .course__subtitle {
  color: var(--negro);
}

.course__box:nth-child(even) .course__btn {
  color: var(--negro);
  border-color: var(--negro);
}

.course__box:nth-child(even) .course__btn:hover {
  background-color: var(--negro);
  color: var(--color-primario);
}

.course__subtitle {
  color: var(--color-secundario);
  font-size: 1.3em;
  text-align: center;
}

.course__desc {
  line-height: 2;
}

.course__btn {
  border: 2px solid var(--color-primario);
  font-weight: 500;
  color: var(--color-primario);
  border-radius: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.course__btn:hover {
  background-color: var(--color-primario);
  color: var(--negro);
}

.footer {
  background-color: #080808;
  margin-top: 5em;
  padding: 1em 0;
}

.footer__sections {
  display: flex;
  justify-content: space-evenly;
  gap: 5em;
  margin: 0 auto;
  max-width: 1200px;
}

.footer__section {
  display: grid;
  gap: 1em;
}

.footer__links {
  display: grid;
  gap: 0.5em;
}

.footer__title {
  font-size: 1.2em;
  color: var(--white);
}

.footer__links a {
  color: var(--white);
}

.whatsapp__button {
  position: fixed;
  bottom: 18px;
  right: 18px;
  z-index: 3000;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primario);
}
